<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="description" content="Dappos is a free Ethereum app which allows merchants to accept the USDC stablecoin or other ERC-20 cryptocurrencies at point of sale (POS).  There are no fees to the merchant.  Customers pay a small network fee of a few cents to submit their payment.  Dappos creates a QR code for customers to scan with their smartphone wallet.  Then Dappos continuously monitors the blockchain for confirmation of the transaction.  Dappos is a web-based app that runs on any computer, smartphone or tablet.  ">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
    <title>Dappos USDC Cryptocurrency Point of Sale for Merchants | Hosted by CryptoForMerchants.com</title>

    <link rel="icon" href="statics/icons/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="statics/icons/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-474408-8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-474408-8');
    </script>
    <!-- FirebaseUI -->
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.0.0/firebaseui.css" />

  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>

    <!-- DO NOT touch the following <div> -->
    <div id="q-app"></div>

    <!-- built files will be auto injected here -->
  </body>
</html>
